extends ../base

block content 
    h2 Upload Video
    if error 
        span=error
    form(method="POST")
        input(name="title" placeholder="Title" type="text" required)
        input(name="hashtags" placeholder="Hashtags, separated by comma" type="text" required)
        textarea(name="description" placeholder="Description" required)
        input(name="submit" type="submit" value="Save")
