// Config
@import "./config/reset.scss";
@import "./config/variables";

// Components
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/video.scss";
@import "./components/shared.scss";
@import "./components/forms.scss";
@import "./components/social-login.scss";
@import "./components/video-player.scss";

// Screens
@import "./screens/home.scss";
@import "./screens/search.scss";
@import "./screens/user-profile.scss";
@import "./screens/edit-profile.scss";
@import "./screens/upload.scss";
@import "./screens/watch.scss";
//Defaults

video {
  width: 300px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $bg;
  color: white;
}

main {
  margin-top: 50px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY((-50px));
    opacity: 0;
  }
}

.message {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 100000px;
  text-align: center;
  font-weight: 700;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: tomato;
    color: white;
  }
}
