extends base
include mixins/video

block content
    h2 Edit Video 
    form(method="POST") 
        input(name="title" placeholder="Title" type="text" value=video.title required)
        input(name="hashtags" placeholder="Hashtags, separated by comma" type="text" value=video.hashtags.join() required)
        textarea(name="description" placeholder="Description" required)=video.description
        input(name="submit" type="submit" value="Save")
