extends base

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(name="email", type="email", placeholder="email", required)
        input(name="password", type="password", placeholder="password", required)        
        input(type="submit", value="Login")

        br
        a(href="https://github.com/login/oauth/authorize?client_id=f071d2c98f93d47ed449") Continue with Github &rarr; 