extends base

block content 
    h3 Write Video Info
    if error 
        span=error
    form(method="POST")
        input(name="title" placeholder="Title" type="text" required)
        input(name="hashtags" placeholder="Hashtags, separated by comma" type="text" required)
        textarea(name="description" placeholder="Description" required)
        input(name="rating" placeholder="Rating" type="range" min="1" max="5" step="1" required)
        input(name="submit" type="submit" value="Save")
