extends base
include mixins/video

block content
    h3 #{video.views === 1 ? `${video.views} view` : `${video.views} views`} 
    a(href=`${video.id}/edit`) Edit Video &rarr;
    ul
        if video
            +video(video)
        else
            p Not Found
    a(href="/") Home &rarr;
