extends ../base
include ../mixins/video

block content
    div.profile__data
        img(src=`/${user.avatarUrl}`, alt="").avatar       
        h2 #{user.username} 
        h2 #{user.email}
    

    div.video-grid
        each info in videos
            +video(info)
        else 
            span.empty__message No videos found
